body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

.header{
    background: #1d1e20;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.header h1{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    padding: 20px;
}

.menu li a:hover{
    background-color: blue;
}

