{% load static %}
<link href="{% static "style/cabecalho.css" %}" rel="stylesheet">

<body>
<header class="header">

<h1>Bem vindo  {{request.user.username}}</h1>
<nav class="menu">
    <ul>
        <li>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'cadastrar_item' %}">Cadastrar Item</a>
            <a href="{% url 'ver_seus_votos' %}">Ver seus votos</a>
            <a href="{% url 'logout' %}">Logout</a>
</li>
</ul>
</nav>
</header>

<h1>Hello cadastro</h1>

<form method="POST">
    {% csrf_token %}
    
    {% for field in form %}
        <b>{{ field.label }}</b>: {{ field }}
        <br><br>
    {% endfor %}

    {% if error %}
        <span style="color: red;">{{ error }}</span>
        <br><br>
    {% endif %}
    
    <input type="submit" value="Enviar" />
</form>