{% load static %}
<link href="{% static "style/cabecalho.css" %}" rel="stylesheet">

<body>
<header class="header">

<h1>Bem vindo  {{request.user.username}}</h1>
<nav class="menu">
    <ul>
        <li>
            <a href="{% url 'cadastrar_item' %}">Cadastrar Item</a>
            <a href="{% url 'ver_seus_votos' %}">Ver seus votos</a>
            <a href="{% url 'logout' %}">Logout</a>
</li>
</ul>
</nav>
</header>

<h2>Votos</h2>

<div>
    {% for i in itens%}
        <p>{{i.nome}}</p>
        <p>{{i.itens.user.username}}</p>
        <a href="{% url 'voto' i.id user.username %}">Vote</a>
        <a href="{% url 'votos_item' i.id %}">Votos do item</a>
    {% endfor %}
    

</div>
</body>