{% load static %}
<link href="{% static "style/login.css" %}" rel="stylesheet">

<body>
<div class="center">
<form method="POST" action="{% url 'login' %}" >
    <h1>Login</h1>
    {% csrf_token %}
    <div class="txt_field">
    
    {% for field in form %}
        <b>{{ field.label }}</b>: {{ field }}
        <br><br>
    {% endfor %}
    </div>
    {% if error %}
        <span style="color: red;">{{ error }}</span>
        <br><br>
    {% endif %}
    
    <input type="submit" value="Enviar" />
    <div class="sign_up_link">
        Não tem cadastro? <a href="{% url 'signup' %}">Registre-se</a>
    </div>
</form>
</div>
</body>
