{% load static %}
<link href="{% static "style/cabecalho.css" %}" rel="stylesheet">
<link href="{% static "style/itens.css" %}" rel="stylesheet">

<body>
<header class="header">

<h1>Bem vindo  {{request.user.username}}</h1>
<nav class="menu">
    <ul>
        <li>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'ver_seus_votos' %}">Ver seus votos</a>
            <a href="{% url 'cadastrar_item' %}">Cadastrar Item</a>
            <a href="{% url 'logout' %}">Logout</a>
</li>
</ul>
</nav>
</header>

<div class="h2_voto">
<h2>Votos do item</h2>
</div>
<section class="flex">
    {%if votos|length is 0%}
    <h4>Esse item ainda não recebeu votos</h4>
    {%endif%}
    {% for i in votos%}
    <div>
        <p>{{i.eleitor_vote.user.username}}</p>
      
    </div>
    {% endfor %}

</section>